vivado/*
BWT_TEST/bwt_test.sdk/.metadata/*
BWT_TEST/bwt_test.sim/*
BWT_TEST/bwt_test.cache/*
BWT_TEST/bwt_test.runs/*
*.log
BWT_TEST/vivado.jou

!vivado/*.xpr

Zynq_bwt/bwt_test.sdk/.metadata/*
Zynq_bwt/bwt_test.sim/*
Zynq_bwt/bwt_test.cache/*
Zynq_bwt/bwt_test.runs/*
*.log
Zynq_bwt/vivado.jou

*/*.sdk/.metadata/*
*/*.sim/*
*/*.cache/*
*/*.tmp/*
*.log
*.jou
*.str

Zynq_bwt_v2/zynq_bwt_v2/zynq_bwt_v2.sdk/.metadata/*
Zynq_bwt_v2/zynq_bwt_v2/zynq_bwt_v2.sim/*
Zynq_bwt_v2/zynq_bwt_v2/zynq_bwt_v2.cache/*
Zynq_bwt_v2/zynq_bwt_v2/zynq_bwt_v2.tmp/*
Zynq_bwt_v2/zynq_bwt_v2/zynq_bwt_v2.sdk/webtalk/*